{% extends "base.html" %} {% block predict %}

<div class="container">
    <div class="row">
        <div class="col-4" style="border-right: solid 2px lightgrey;">
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    Chọn hình ảnh
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>
        
            <div class="image-section" style="display:none;">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg my-2 my-sm-0" id="btn-predict">Tìm kiếm</button>
                </div>
            </div>
        
            <div class="loader" style="display:none;"></div>
    
        </div>
        <div class="col-8">
             <h3>
                 hh
                <span>{{data}}</span>
            </h3>
        </div>
    </div>
</div>

{% endblock %}